.triple-spinner {
  position: relative;
  width: 120px;
  height: 120px;
  display: grid;
  place-items: center;
  color: $color-primary;
}

.triple-spinner__ring {
  position: absolute;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: color-var-alpha('color-primary', 0.9);
  border-right-color: color-var-alpha('color-primary', 0.5);
  border-left-color: color-var-alpha('color-accent', 0.4);
  box-shadow: 0 0 18px color-var-alpha('color-primary', 0.25);

  &_outer {
    width: 100%;
    height: 100%;
    animation: triple-spin 1.6s linear infinite;
    will-change: transform;
    backface-visibility: hidden;
  }

  &_middle {
    width: 78%;
    height: 78%;
    animation: triple-spin 1.2s linear infinite reverse;
    will-change: transform;
    backface-visibility: hidden;
  }

  &_inner {
    width: 52%;
    height: 52%;
    animation: triple-spin 0.9s linear infinite;
    will-change: transform;
    backface-visibility: hidden;
  }
}

@keyframes triple-spin {
  to {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
